<app-header titulo="Card"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
    <ion-card-header mode="ios">
      <ion-card-subtitle mode="ios">Card Subtitle</ion-card-subtitle>
      <ion-card-title mode="ios">Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos aperiam ipsam obcaecati et officiis sequi natus tempore consequuntur, a dolorum soluta, est consequatur eos velit! Sunt voluptates harum temporibus?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero eaque id laborum culpa aperiam odio debitis sequi quisquam veritatis, facere cupiditate est reprehenderit atque deserunt eligendi exercitationem voluptates, nemo cum!
    </ion-card-content>
  </ion-card>
</ion-content>